@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Google Login</h2>
        <a class="btn btn-block btn-social btn-lg btn-facebook"/>
    </div>
    <div class="col-md-4">
        <h2>Facebook Login</h2>
        <a class="btn btn-block btn-social btn-lg btn-facebook"/>        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>

    </div>
</div>